<?php

declare(strict_types=1);

/*
 * TeslaFleetManagementApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TeslaFleetManagementApiLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TeslaFleetManagementApiLib\Http\ApiResponse;
use TeslaFleetManagementApiLib\Models\ChargingHistoryResponse;
use TeslaFleetManagementApiLib\Models\ChargingSessionsResponse;

class ChargingController extends BaseController
{
    /**
     * Returns the paginated charging history for the authenticated account.
     *
     * @return ApiResponse Response from the API call
     */
    public function getChargingHistory(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/charging/history')
            ->auth(Auth::and('bearerAuth', 'oauth2'));

        $_resHandler = $this->responseHandler()->type(ChargingHistoryResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns a charging invoice PDF for a charging session.
     *
     * @param string $id Charging session invoice identifier
     *
     * @return ApiResponse Response from the API call
     */
    public function getChargingInvoice(string $id): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/charging/invoice/{id}')
            ->auth(Auth::and('bearerAuth', 'oauth2'))
            ->parameters(TemplateParam::init('id', $id)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns charging session information. Only available for business fleet owners.
     *
     * @return ApiResponse Response from the API call
     */
    public function getChargingSessions(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/charging/sessions')
            ->auth(Auth::and('bearerAuth', 'oauth2'));

        $_resHandler = $this->responseHandler()->type(ChargingSessionsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
