<?php

declare(strict_types=1);

/*
 * TeslaFleetManagementApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TeslaFleetManagementApiLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TeslaFleetManagementApiLib\Http\ApiResponse;
use TeslaFleetManagementApiLib\Models\BackupRequest;
use TeslaFleetManagementApiLib\Models\BackupResponse;
use TeslaFleetManagementApiLib\Models\CalendarHistoryResponse;
use TeslaFleetManagementApiLib\Models\ChargeHistoryResponse;
use TeslaFleetManagementApiLib\Models\GenericUpdateResponse;
use TeslaFleetManagementApiLib\Models\Kind;
use TeslaFleetManagementApiLib\Models\KindGetWallConnectorChargingHistory;
use TeslaFleetManagementApiLib\Models\LiveStatusResponse;
use TeslaFleetManagementApiLib\Models\OffGridVehicleChargingReserveRequest;
use TeslaFleetManagementApiLib\Models\OperationRequest;
use TeslaFleetManagementApiLib\Models\ProductsResponse;
use TeslaFleetManagementApiLib\Models\SiteInfoResponse;
use TeslaFleetManagementApiLib\Models\StormModeRequest;
use TeslaFleetManagementApiLib\Models\TimeOfUseSettingsRequest;
use TeslaFleetManagementApiLib\Utils\DateTimeHelper;

class EnergyController extends BaseController
{
    /**
     * @param string $energySiteId
     * @param BackupRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function adjustSiteSBackupReserve(string $energySiteId, BackupRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/energy_sites/{energy_site_id}/backup')
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->type(BackupResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param string $kind
     * @param \DateTime $startDate
     * @param \DateTime $endDate
     * @param string|null $period
     * @param string|null $timeZone
     *
     * @return ApiResponse Response from the API call
     */
    public function getBackupOrEnergyHistory(
        string $energySiteId,
        string $kind,
        \DateTime $startDate,
        \DateTime $endDate,
        ?string $period = null,
        ?string $timeZone = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/energy_sites/{energy_site_id}/calendar_history'
        )
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                QueryParam::init('kind', $kind)->required()->serializeBy([Kind::class, 'checkValue']),
                QueryParam::init('start_date', $startDate)
                    ->required()
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('end_date', $endDate)
                    ->required()
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('period', $period),
                QueryParam::init('time_zone', $timeZone)
            );

        $_resHandler = $this->responseHandler()->type(CalendarHistoryResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param string $kind
     * @param \DateTime $startDate
     * @param \DateTime $endDate
     * @param string|null $timeZone
     *
     * @return ApiResponse Response from the API call
     */
    public function getWallConnectorChargingHistory(
        string $energySiteId,
        string $kind,
        \DateTime $startDate,
        \DateTime $endDate,
        ?string $timeZone = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/energy_sites/{energy_site_id}/telemetry_history'
        )
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                QueryParam::init('kind', $kind)
                    ->required()
                    ->serializeBy([KindGetWallConnectorChargingHistory::class, 'checkValue']),
                QueryParam::init('start_date', $startDate)
                    ->required()
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('end_date', $endDate)
                    ->required()
                    ->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']),
                QueryParam::init('time_zone', $timeZone)
            );

        $_resHandler = $this->responseHandler()->type(ChargeHistoryResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     *
     * @return ApiResponse Response from the API call
     */
    public function getLiveSiteStatus(string $energySiteId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/energy_sites/{energy_site_id}/live_status'
        )->auth('bearerAuth')->parameters(TemplateParam::init('energy_site_id', $energySiteId)->required());

        $_resHandler = $this->responseHandler()->type(LiveStatusResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param OperationRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function setSiteModeAutonomousOrSelfConsumption(string $energySiteId, OperationRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/energy_sites/{energy_site_id}/operation')
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->type(GenericUpdateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param array|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function allowDisallowChargingFromTheGridAndExportingEnergyToTheGrid(
        string $energySiteId,
        ?array $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/api/1/energy_sites/{energy_site_id}/grid_import_export'
        )
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(GenericUpdateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param OffGridVehicleChargingReserveRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function adjustSiteSOffGridVehicleChargingReserve(
        string $energySiteId,
        OffGridVehicleChargingReserveRequest $body
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/api/1/energy_sites/{energy_site_id}/off_grid_vehicle_charging_reserve'
        )
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->type(GenericUpdateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param StormModeRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updateStormWatchParticipation(string $energySiteId, StormModeRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/api/1/energy_sites/{energy_site_id}/storm_mode'
        )
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->type(GenericUpdateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     * @param TimeOfUseSettingsRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updateTimeOfUseTouSettings(string $energySiteId, TimeOfUseSettingsRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/api/1/energy_sites/{energy_site_id}/time_of_use_settings'
        )
            ->auth('bearerAuth')
            ->parameters(
                TemplateParam::init('energy_site_id', $energySiteId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->type(GenericUpdateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ApiResponse Response from the API call
     */
    public function getUserProductsVehiclesEnergySites(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/products')->auth('bearerAuth');

        $_resHandler = $this->responseHandler()->type(ProductsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $energySiteId
     *
     * @return ApiResponse Response from the API call
     */
    public function getSiteInformationAssetsSettingsFeatures(string $energySiteId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/energy_sites/{energy_site_id}/site_info')
            ->auth('bearerAuth')
            ->parameters(TemplateParam::init('energy_site_id', $energySiteId)->required());

        $_resHandler = $this->responseHandler()->type(SiteInfoResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
