<?php

declare(strict_types=1);

/*
 * TeslaFleetManagementApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TeslaFleetManagementApiLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TeslaFleetManagementApiLib\Http\ApiResponse;
use TeslaFleetManagementApiLib\Models\BackupResponse;
use TeslaFleetManagementApiLib\Models\FleetTelemetryErrorsResponse;
use TeslaFleetManagementApiLib\Models\PublicKeyResponse;
use TeslaFleetManagementApiLib\Models\RegisterPartnerRequest;
use TeslaFleetManagementApiLib\Models\RegisterPartnerResponse;

class PartnerController extends BaseController
{
    /**
     * @return ApiResponse Response from the API call
     */
    public function getVinsWithFleetTelemetryErrors(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/partner_accounts/fleet_telemetry_error_vins'
        )->auth('thirdpartytoken', 'bearerAuth');

        $_resHandler = $this->responseHandler()->type(BackupResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ApiResponse Response from the API call
     */
    public function getRecentFleetTelemetryErrors(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/partner_accounts/fleet_telemetry_errors')
            ->auth('thirdpartytoken', 'bearerAuth');

        $_resHandler = $this->responseHandler()->type(FleetTelemetryErrorsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $domain
     *
     * @return ApiResponse Response from the API call
     */
    public function getPublicKeyForADomain(string $domain): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/partner_accounts/public_key')
            ->auth('thirdpartytoken', 'bearerAuth')
            ->parameters(QueryParam::init('domain', $domain)->required());

        $_resHandler = $this->responseHandler()->type(PublicKeyResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param RegisterPartnerRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function registerAPartnerAccount(RegisterPartnerRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/partner_accounts')
            ->auth('thirdpartytoken', 'bearerAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()->type(RegisterPartnerResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
