<?php

declare(strict_types=1);

/*
 * TeslaFleetManagementApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TeslaFleetManagementApiLib\Controllers;

use Core\Authentication\Auth;
use CoreInterfaces\Core\Request\RequestMethod;
use TeslaFleetManagementApiLib\Http\ApiResponse;
use TeslaFleetManagementApiLib\Models\BackupResponse;
use TeslaFleetManagementApiLib\Models\MeResponse;
use TeslaFleetManagementApiLib\Models\OrdersResponse;
use TeslaFleetManagementApiLib\Models\RegionResponse;

class UserController extends BaseController
{
    /**
     * @return ApiResponse Response from the API call
     */
    public function getCustomFeatureFlagsForAUser(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/users/feature_config')
            ->auth(Auth::and('bearerAuth', 'thirdpartytoken'));

        $_resHandler = $this->responseHandler()->type(BackupResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ApiResponse Response from the API call
     */
    public function getSummaryOfAUserSAccount(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/users/me')
            ->auth(Auth::and('bearerAuth', 'thirdpartytoken'));

        $_resHandler = $this->responseHandler()->type(MeResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ApiResponse Response from the API call
     */
    public function getActiveOrdersForAUser(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/users/orders')
            ->auth(Auth::and('bearerAuth', 'thirdpartytoken'));

        $_resHandler = $this->responseHandler()->type(OrdersResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ApiResponse Response from the API call
     */
    public function getUserSRegionAndFleetApiBaseUrl(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/users/region')
            ->auth(Auth::and('bearerAuth', 'thirdpartytoken'));

        $_resHandler = $this->responseHandler()->type(RegionResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
