<?php

declare(strict_types=1);

/*
 * TeslaFleetManagementApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TeslaFleetManagementApiLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TeslaFleetManagementApiLib\Http\ApiResponse;
use TeslaFleetManagementApiLib\Models\Api1DxVehiclesOptionsResponse;
use TeslaFleetManagementApiLib\Models\Api1DxWarrantyDetailsResponse;
use TeslaFleetManagementApiLib\Models\Api1VehiclesMobileEnabledResponse;
use TeslaFleetManagementApiLib\Models\Api1VehiclesNearbyChargingSitesResponse;
use TeslaFleetManagementApiLib\Models\Api1VehiclesResponse;
use TeslaFleetManagementApiLib\Models\Api1VehiclesResponseGetVehicle;
use TeslaFleetManagementApiLib\Models\Api1VehiclesWakeUpResponse;
use TeslaFleetManagementApiLib\Models\DriversResponse;
use TeslaFleetManagementApiLib\Models\EnterprisePayerRequest;
use TeslaFleetManagementApiLib\Models\FleetStatusRequest;
use TeslaFleetManagementApiLib\Models\FleetTelemetryJwsRequest;
use TeslaFleetManagementApiLib\Models\SimpleOkResponse;
use TeslaFleetManagementApiLib\Models\SiteInfoResponse;

class VehiclesController extends BaseController
{
    /**
     * @return ApiResponse Response from the API call
     */
    public function listVehicles(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/vehicles')->auth('thirdpartytoken');

        $_resHandler = $this->responseHandler()->type(Api1VehiclesResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function getVehicle(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/vehicles/{vehicle_tag}')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->type(Api1VehiclesResponseGetVehicle::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function mobileEnabled(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/vehicles/{vehicle_tag}/mobile_enabled')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->type(Api1VehiclesMobileEnabledResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function nearbyChargingSites(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/vehicles/{vehicle_tag}/nearby_charging_sites'
        )->auth('thirdpartytoken')->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()
            ->type(Api1VehiclesNearbyChargingSitesResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function vehicleLiveData(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/vehicles/{vehicle_tag}/vehicle_data')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->type(SiteInfoResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function wakeUpVehicle(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/vehicles/{vehicle_tag}/wake_up')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->type(Api1VehiclesWakeUpResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vin
     *
     * @return ApiResponse Response from the API call
     */
    public function vehicleSpecs(string $vin): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/vehicles/{vin}/specs')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vin', $vin)->required());

        $_resHandler = $this->responseHandler()->type(SiteInfoResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vin
     *
     * @return ApiResponse Response from the API call
     */
    public function vehicleOptions(string $vin): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/vehicles/options')
            ->auth('thirdpartytoken')
            ->parameters(QueryParam::init('vin', $vin)->required());

        $_resHandler = $this->responseHandler()->type(Api1DxVehiclesOptionsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return ApiResponse Response from the API call
     */
    public function warrantyDetails(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/warranty/details')
            ->auth('thirdpartytoken');

        $_resHandler = $this->responseHandler()->type(Api1DxWarrantyDetailsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function getAllowedDriversForAVehicle(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/vehicles/{vehicle_tag}/drivers')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->type(DriversResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function removeDriverAccessFromAVehicle(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/api/1/vehicles/{vehicle_tag}/drivers')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->type(SimpleOkResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vin
     *
     * @return ApiResponse Response from the API call
     */
    public function getEligibleVehicleSubscriptions(string $vin): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/vehicles/subscriptions/eligibility')
            ->auth('thirdpartytoken')
            ->parameters(QueryParam::init('vin', $vin)->required());

        $_resHandler = $this->responseHandler()->type(SiteInfoResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vin
     *
     * @return ApiResponse Response from the API call
     */
    public function getEligibleVehicleUpgrades(string $vin): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/vehicles/upgrades/eligibility')
            ->auth('thirdpartytoken')
            ->parameters(QueryParam::init('vin', $vin)->required());

        $_resHandler = $this->responseHandler()->type(SiteInfoResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vin
     * @param EnterprisePayerRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function setEnterprisePayerRoles(string $vin, EnterprisePayerRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/dx/enterprise/v1/{vin}/payer')
            ->auth('thirdpartytoken')
            ->parameters(
                TemplateParam::init('vin', $vin)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vin
     *
     * @return ApiResponse Response from the API call
     */
    public function getEnterpriseRolesForAVehicle(string $vin): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/api/1/dx/enterprise/v1/{vin}/roles')
            ->auth('thirdpartytoken')
            ->parameters(TemplateParam::init('vin', $vin)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param FleetStatusRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getFleetStatusForVehicles(FleetStatusRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/vehicles/fleet_status')
            ->auth('thirdpartytoken')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param array $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createOrUpdateFleetTelemetryConfiguration(array $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/vehicles/fleet_telemetry_config')
            ->auth('thirdpartytoken')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function getFleetTelemetryConfiguration(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/vehicles/{vehicle_tag}/fleet_telemetry_config'
        )->auth('thirdpartytoken')->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteFleetTelemetryConfiguration(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/api/1/vehicles/{vehicle_tag}/fleet_telemetry_config'
        )->auth('thirdpartytoken')->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param FleetTelemetryJwsRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function configureFleetTelemetryUsingSignedJwsToken(FleetTelemetryJwsRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/1/vehicles/fleet_telemetry_config_jws')
            ->auth('thirdpartytoken')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $vehicleTag
     *
     * @return ApiResponse Response from the API call
     */
    public function getFleetTelemetryErrorsForAVehicle(string $vehicleTag): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/api/1/vehicles/{vehicle_tag}/fleet_telemetry_errors'
        )->auth('thirdpartytoken')->parameters(TemplateParam::init('vehicle_tag', $vehicleTag)->required());

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
